[v-cloak] > * {
    display: none;
}
#app {
    background: rgb(148,79,84);
    background: linear-gradient(135deg, rgba(148,79,84,1) 0%, rgba(227,133,111,1) 100%);
}
body {
    background-color: rgb(148,79,84);
}