{% extends "base.html" %}
{% load thumbnail %}


{% block title %}Gallery | {% endblock %}


{% block content %}
<v-container fill-height>

  <v-card
      color="brown darken-4"
      width="100%"
  >
    <v-card-text class="d-flex align-center">

      <v-autocomplete
          dark
          dense
          chips
          multiple
          outlined
          clearable
          small-chips
          deletable-chips
          label="Search by tags"
          :items="tagOptions"
          v-model="tags"
          class="flex-grow-1"
          :error-messages="tagSearchError"
      ></v-autocomplete>

      <v-switch
          dark
          v-model="anyAllTags"
          :label="anyAllTags ? 'All Tags' : 'Any Tags'"
          color="primary"
          class="d-flex-shrink-1 mb-6 px-3"
      ></v-switch>

      <v-btn
          icon
          x-large
          @click="doSearch"
          color="primary"
          class="flex-shrink-1 mb-6"
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

    </v-card-text>

    <v-card-text class="text-body-1">
      <v-row dense>
        <v-col
            cols="12"
            sm="6"
            md="4"
            lg="2"
            v-for="img in images"
            :key="img.id"
            v-if="images.length"
        >
          <v-hover v-slot="{ hover }">
            <v-img
                :aspect-ratio="1"
                :src="img.image"
                :lazy-src="img.thumb"
                :alt="img.name"
                @click="toggleOverlay(img)"
                :class="`elevation-${hover ? 24 : 0}`"
                class="transition-swing"
            ></v-img>
          </v-hover>
        </v-col>
        {% if not object_list %}
        <v-col cols="12">
          <h3 class="text-h3 text-center white--text">No images</h3>
        </v-col>
        {% endif %}
      </v-row>
    </v-card-text>

    <v-card-actions>
      <v-pagination
          v-model="page"
          :length="pages"
          @input="changePage"
          class="mx-auto"
      ></v-pagination>
    </v-card-actions>

  </v-card>
</v-container>

<v-overlay :value="overlay" @click="overlay = !overlay">

  <v-img
      contain
      :src="activeImage.image"
      v-if="activeImage"
      max-width="100vh"
      max-height="100vh"
  ></v-img>

  <v-hover v-slot="{ hover }">
    <v-footer
        fixed
        padless
        width="100%"
        class="d-flex flex-column justify-center"
        color="transparent"
        :style="{ opacity: hover ? '100%' : '20%' }"
        style="transition: opacity 0.25s ease-in-out"
    >
      <p class="text-body-1">[[ activeImage?.alt ]]</p>
      <v-chip-group column max="0">
        <v-chip
            v-for="tag in activeImage?.tags"
            :key="tag"
            :href="`{% url "gallery:home" %}?tag=${tag}`"
        >
          [[ tag ]]
        </v-chip>
      </v-chip-group>
    </v-footer>
  </v-hover>

</v-overlay>
{% endblock %}


{% block data %}
  page: {{ page_obj.number }},
  pages: {{ page_obj.paginator.num_pages }},
  overlay: false,
  activeImage: null,
  tagOptions: {{ tag_options|safe|default:'[]' }},
  tagSearchError: null,
  tags: {{ selected_tags|safe|default:'[]' }},
  anyAllTags: {{ any_all_tags|yesno:'true,false'|default:'false' }},
  images: [
    {% for img in page_obj %}
      {% thumbnail img.image "100x100" crop="center" as thumb %}
      {
        id: {{ img.id }},
        image: '{{ img.image.url }}',
        thumb: '{{ thumb.url }}',
        alt: '{{ img.name }}',
        tags: [
          {% for tag in img.tags.names %}
            '{{ tag }}',
          {% endfor %}
        ],
      },
      {% endthumbnail %}
    {% endfor %}
  ]
{% endblock %}


{% block methods %}
  changePage(val) {
    let params = ''
    if (val > 1) {
      params = `?page=${val}`
    }
    window.location = '{% url "gallery:home" %}' + params
  },
  toggleOverlay(img) {
    this.activeImage = img
    this.overlay = true
  },
  doSearch() {
    let params = new URLSearchParams()
    for (let tag of this.tags) {
      params.append('tag', tag)
    }
    if (this.anyAllTags) {
      params.set('search', 'all')
    }
    if (params.toString()) {
      window.location = '{% url "gallery:home" %}?' + params.toString()
    } else {
      window.location = '{% url "gallery:home" %}'
    }
  }
{% endblock %}