{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, minimal-ui">
  <title>{% block title %}{% endblock title %}Viola Bat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-snotify@3.2.1/styles/material.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/png">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png">
  {% block additional_css %}{% endblock %}
  {% block meta %}
    <meta property="og:image" content="{{ site }}{% static "images/gashapon-galaxy-logo.png" %}"/>
    <meta property="og:description" content="Viola Bat's Art"/>
    <meta name="twitter:card" content="summary">
  {% endblock %}
  <meta property="og:site_name" content="Viola Bat">
  <meta property="og:type" content="website">
  <meta name="twitter:site" content="@violabat">
  <meta name="twitter:creator" content="@AtoroDesu">
</head>
<body>
  <v-app id="app" v-cloak>

    <v-main>
      {% block content %}{% endblock %}
      {% if request.path != "/" %}
        <v-btn
            fab
            fixed
            top left
            color="primary"
            href="/"
        >
          <v-icon>mdi-home</v-icon>
        </v-btn>
      {% endif %}
      <vue-snotify></vue-snotify>
    </v-main>

    {% include "footer.html" %}
  </v-app>
{#  {% if debug %}#}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{#  {% else %}#}
{#    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>#}
{#  {% endif %}#}
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1/dist/vue-resource.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-snotify@3/vue-snotify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js" integrity="sha256-DIsAGD2EF8Qq2PCH9yzX/yt9FliJfWf+aGcdgR6tKwo=" crossorigin="anonymous"></script>
  {% block additional_vue_scripts %}{% endblock %}

  <script>
    {# Define Python types so any missed vars don't error out the page #}
    const None = null;
    const False = false;
    const True = true;

    {# Define CSRF token for use in POST requests #}
    const csrf_token = Cookies.get('csrftoken');

    {% block vue_use %}{% endblock %}
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        {% block data %}{% endblock %}
      },
      methods: {
        {% block methods %}{% endblock %}
      },
      watch: {
        {% block watch %}{% endblock %}
      },
      computed: {
        {% block computed %}{% endblock %}
      },
      mounted() {
        {% if messages %}
          {% for message in messages %}
            this.$snotify.{{ message.level_tag }}("{{ message|safe }}", "{{ message.tags|title }}", {timeout: 5000}){% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
        {% block mounted %}{% endblock %}
      },
    });
  </script>
  {% block additional_scripts %}{% endblock %}
</body>
</html>