{% extends "base.html" %}
{% load static %}


{% block content %}
<v-container fill-height>
  <v-row class="text-center">
    <v-col cols="12" class="d-inline-flex flex-column flex-md-row justify-center align-center">
      <div class="mr-md-6">
        <v-avatar size="350">
          <v-img src="{% static 'images/viola.jpg' %}"></v-img>
        </v-avatar>
      </div>
      <div>
        <h1 class="text-h3 text-md-h1 font-weight-bold">Viola Bat's Art</h1>
        <h5 class="text-h5">Freelance Artist who draws dicks</h5>
      </div>
    </v-col>
    <v-col cols="12" class="d-inline-flex flex-column flex-md-row justify-center align-center">
      <v-btn
          depressed
          x-large
          rounded
          dark
          color="#944045"
          class="ma-2"
          min-width="225"
          href="{% url "gallery:home" %}"
      >
        <v-icon left>mdi-view-gallery-outline</v-icon> Gallery
      </v-btn>
      <v-btn
          depressed
          x-large
          rounded
          dark
          color="#944045"
          class="ma-2"
          min-width="225"
          href="{% url "commissions:home" %}"
      >
        <v-icon left>mdi-draw</v-icon> Commissions
      </v-btn>
      <v-btn
          depressed
          x-large
          rounded
          dark
          color="#944045"
          class="ma-2"
          min-width="225"
          href="{% url "about:home" %}"
      >
        <v-icon left>mdi-account-question-outline</v-icon> About Viola Bat
      </v-btn>
      <v-btn
          depressed
          x-large
          rounded
          dark
          color="#944045"
          class="ma-2"
          min-width="225"
          href="https://patreon.com/violabat"
          target="_blank"
      >
        <v-icon left>mdi-patreon</v-icon> Support me!
      </v-btn>
    </v-col>
  </v-row>
</v-container>
{% endblock %}